@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) ============================================ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */
input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/* for wrapper */
.wrapper {
  max-width: 1360px;
  width: 100%;
  padding: 0 25px ; 
  margin: 0 auto;
}

/*=================================
  Header styling starts here
=================================*/

header .wrapper {
  margin: 22px 0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.navbar { 
  margin: 12px 0 0 50px;
  display: flex;
}

.nav-list {
  padding: 5px 22px;
  font-size: 13px;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  transition: all .6s ease;
  color: #A8ACAB;

}

.nav-list::after {
  content: '';
  width: 2px;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  background:#A8ACAB;
  transform: skewX(340deg);
  transition: .5s ease;
}

.navbar > *:last-child > *::after { width: 0; }

.nav-list:hover::after {
  width: 100%;
  background: #A8ACAB;
}

.nav-list:hover { color: #fff; }

.search-input {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  padding: 8px;
  border: none;
  border-bottom: 2px solid #000;
  position: absolute;
  outline: none;  
  transition: .5s ease;
  transform: translateX(100%);
}

.text-indent { text-indent: -9999px; }
.icon { display: inline-block; }

.search-icon::after {
  content: "\f002";
  padding: 10px 0;
  font-family: "FontAwesome";
  font-size: 26px;
  float: right;
  color: #A8ACAB;
  cursor: pointer;
  text-indent: 0;
}

.search-icon:hover + .input { transform: translateX(-100%); }

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

.blue-economy-banner { padding: 36px; }
.blue-economy-banner .wrapper { 
  position: relative; }

.blue-economy {
  width: 40%;
  padding: 130px 180px 130px 80px;
  top: 0;
  left: 0;
  background-color: #6FB4E1;
}

.blue-economy h2 {
  font-size: 48px;
  color: #fff;
  text-align: center;
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 



 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {}  